Repository FujiSamara/BOT, pull requests merged in 2025-04, with the labels that each got.

#535 528 add route for delete files
  common/src/common/schemas/__init__.py
  common/src/common/schemas/base.py
  services/file/app/contracts/clients/__init__.py
  services/file/app/contracts/clients/file.py
  services/file/app/contracts/repositories/file.py
  services/file/app/contracts/services/file.py
  services/file/app/controllers/api/router.py
  services/file/app/infra/database/repositories/file.py
  services/file/app/infra/s3/file.py
  services/file/app/schemas/file.py
  services/file/app/services/file.py
  services/file/requirements.txt
Labels: enhancement, s3

#530 529 add actual residence in worker bids
  services/core/app/adapters/bot/handlers/worker_bids/create.py
  services/core/app/adapters/bot/handlers/worker_bids/utils.py
  services/core/app/adapters/bot/kb.py
  services/core/app/adapters/bot/states.py
  services/core/app/infra/database/alembic/versions/5d77a8e6f5e3_add_actual_residence_in_worker_bids.py
  services/core/app/infra/database/models.py
  services/core/app/infra/database/orm.py
  services/core/app/schemas.py
  services/core/app/services/worker_bid.py
Labels: enhancement, bot, core

#531 506 add pages in technical and cleaning requests
  services/core/app/adapters/bot/handlers/department_request/appraiser.py
  services/core/app/adapters/bot/handlers/department_request/executors.py
  services/core/app/adapters/bot/handlers/department_request/kb.py
  services/core/app/adapters/bot/handlers/department_request/main.py
  services/core/app/adapters/bot/handlers/department_request/schemas.py
  services/core/app/adapters/bot/handlers/department_request/technician/chief_technician.py
  services/core/app/adapters/bot/handlers/department_request/technician/extensive_director.py
  services/core/app/adapters/bot/handlers/department_request/technician/territorial_director.py
  services/core/app/infra/database/orm.py
  services/core/app/services/cleaning_request.py
  services/core/app/services/technical_request.py
Labels: enhancement, bot, core

#540 Make pages in worker department problems
  services/core/app/adapters/bot/handlers/department_request/kb.py
  services/core/app/adapters/bot/handlers/department_request/schemas.py
  services/core/app/adapters/bot/handlers/department_request/worker.py
  services/core/app/infra/database/orm.py
  services/core/app/services/cleaning_request.py
  services/core/app/services/technical_request.py
Labels: bug, bot, hotfix

#541 537 add deleting materials to knowledge base
  common/src/common/contracts/clients/file.py
  common/src/common/http/file.py
  common/src/common/schemas/file.py
  services/crm/src/assets/scss/_mixins.scss
  services/crm/src/components/UI-new/DeleteButton.vue
  services/crm/src/components/knowledge/BusinessCard.vue
  services/crm/src/components/knowledge/Card.vue
  services/crm/src/components/knowledge/CardMaterials.vue
  services/crm/src/components/knowledge/DishCard.vue
  services/crm/src/components/knowledge/editor.ts
  services/crm/src/components/knowledge/index.ts
  services/crm/src/pages/panels/KnowledgePanel.vue
  services/crm/src/services/knowledge.ts
  services/crm/src/types.ts
  services/file/app/contracts/services/file.py
  services/file/app/controllers/api/router.py
  services/file/app/schemas/file.py
  services/file/app/services/file.py
  services/knowledge/app/contracts/repositories/card.py
  services/knowledge/app/contracts/repositories/dish.py
  services/knowledge/app/contracts/services/card.py
  services/knowledge/app/contracts/services/dish.py
  services/knowledge/app/controllers/api/routes/card.py
  services/knowledge/app/controllers/api/routes/dish.py
  services/knowledge/app/infra/database/dish/repository.py
  services/knowledge/app/infra/database/knowledge/repositories/card.py
  services/knowledge/app/services/card.py
  services/knowledge/app/services/dish.py
Labels: enhancement, crm

#543 542 remove timesheets with null shifts
  services/core/app/adapters/input/api/crm/routers/timesheet.py
  services/core/app/infra/database/orm.py
  services/core/app/services/timesheet.py
  services/crm/src/components/entity/index.ts
Labels: bug, enhancement, core, crm
